@model IEnumerable<HabitTracker.Models.Habit>

@{
    ViewData["Title"] = "AllHabits";
}

<h1 class="text-center">Your habits</h1>

<p class="text-center">
    <a asp-action="Create" >Add a new one</a>
</p>
<table class="table table-sm text-center">
    <thead>
        <tr>
            <th>@DateTime.Now.ToString("MMMM")</th>
            <th>@DateTime.Now.Year</th>
        </tr>
    </thead>
    </table>
    <table class="table table-sm table-hover table-bordered text-center">
        <thead>
            <tr>
                <th>Habit</th>

                @for (int i = 1; i <= DateTime.DaysInMonth(DateTime.Now.Year, DateTime.Now.Month); i++)
                {
                    <th scope="col">@i</th>
                }

            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model)
            {
                <tr>
                    <th scope="row">
                        <a asp-action="Details" asp-route-id="@item.Id"> @Html.DisplayFor(modelItem => item.Name)</a>
                    </th>

                    @for (int i = 1; i <= DateTime.DaysInMonth(DateTime.Now.Year, DateTime.Now.Month); i++)
                    {
                        <td>
                            <input type="checkbox" class="btn-check" id="btn-check" autocomplete="off" />
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
